body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.logotype {
    font-family: "Montserrat", sans-serif;
}

.hero {
    font-family: "Montserrat", sans-serif;
    background-image: url("hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.galleryCard {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
